* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body {
    background-color: grey;
}



h1 {
    height: 30px;
}

/* Styles for smaller screens (mobile) */

@media (max-width: 768px) {


    .name {
        position: absolute;
        font-size: 1.6em;
        z-index: 6;
        top: 5%;
        right: 16%;
        color: ghostwhite;
    }


    video {
        width: 100%;
        height: auto;
    }


    .full-images {
        position: fixed;
        top: 10%;
        left: -7%;
        
        
        scale: .2;
        z-index: 2;
        
    }

    
.light_switch {
    height: 14rem;
    width: 10rem;
    position: absolute;
    top: 1%;
    left: 20px;
    transform: translate(3.1rem, 2rem);
    background: transparent;
    border: none;
    font-size:0;
    z-index: 5;
}

#hide-button {
    position: fixed;
    display: none;
    background: none;
    width: 100%;
    height: 100%;
    
    z-index: 3;
}

#img-full-1 {
    position: absolute;
    visibility: hidden;
    transform: scale(3);
    top: 400px;
    left: 700px;
    z-index: 1;
}



#img-full-2 {
    position: absolute;
    visibility: hidden;
    top: 60px;
    left: 60px;
    z-index: 1;
}

#img-full-3 {
    position: absolute;
    visibility: hidden;
    top: 60px;
    left: 60px;
    z-index: 1;
}

#img-full-4 {
    position: absolute;
    visibility: hidden;
    top: 60px;
    left: 60px;
    z-index: 1;
}

#img-full-5 {
    position: absolute;
    visibility: hidden;
    top: 60px;
    left: 60px;
    z-index: 1;
}

#img-full-6 {
    position: absolute;
    visibility: hidden;
    top: 60px;
    left: 60px;
    z-index: 1;
}

#img-full-7 {
    position: absolute;
    visibility: hidden;
    top: 60px;
    left: 60px;
    z-index: 1;
}

#img-full-8 {
    position: absolute;
    visibility: hidden;
    top: 60px;
    left: 60px;
    z-index: 1;
}

.img-button {
    scale: .8;
}

#img-button-1 {
    position: absolute;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 2;
    left: 330px;
    top: 0px;
    width: 200px;
    height: 200px;
}

#img-button-2 {
    position: absolute;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 2;
    left: 660px;
    top: 0px;
    width: 200px;
    height: 200px;
}

#img-button-3 {
    position: absolute;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 2;
    left: 50px;
    top: 20px;
    width: 200px;
    height: 200px;
}

#img-button-4 {
    position: absolute;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 2;
    left: 370px;
    top: 20px;
    width: 200px;
    height: 200px;
}

#img-button-5 {
    position: absolute;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 2;
    left: 820px;
    top: 20px;
    width: 200px;
    height: 200px;
}

#img-button-6 {
    position: absolute;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 2;
    left: 1190px;
    top: 20px;
    width: 200px;
    height: 200px;
}

#img-button-7 {
    position: absolute;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 2;
    left: 1470px;
    top: 10px;
    width: 200px;
    height: 200px;
}

#img-button-8 {
    position: absolute;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 2;
    left: 1800px;
    top: 10px;
    width: 200px;
    height: 200px;
}

.container-holder {
    position: relative;
    display: flex;
    width: 100vw;
    height: auto;
    justify-content: center;
    right: 18%;
    transform: scale(.45);
    width: 100%;
}

.container {
    padding: 0 1.5rem;
}

.slider-wrapper {
    position: relative;
    max-width: 37rem;
    margin: 0 auto;
    left: 60px;
}

.slider {
    position: relative;
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    
    width: 200px;
    height: 200px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 20%;
}


.section_title {
    position: relative;
    justify-content: center;
    bottom: 60px;
    left: 100%;
}

.projects {
    position: relative;
    text-align: center;
    top:8%;
    left: 30%;
}

.models {
    position: relative;
    left: 30%;
    margin-top: 10%;
}

.title {
    position: relative;
    right: 50%;
    top: 78%;
}

.computer-title {
    right: 50%;
    top: 15px;
}

.beach  {
    right: 80%;
    top: 10px;
}

.bingo {
    right: 80%;
    top: 10px;
}

.portfolio {
    right: 45%;
    top: 10px;
}

.reel {
    right: 35%;
    top: 10px;
}

.sports {
    right: 40%;
    top: 10px;
}

.artschool {
    right: 50%;
    top: 10px;
}

.steps {
    right: 40%;
    top: 10px;
}

.intro {
    right: 95%;
    top: 10px;
}

.graph {
    right: 85%;
    top: 10px;
}

.pros {
    right: 85%;
    top: 10px;
}

.charts {
    right: 85%;
    top: 10px;
}

.charts-2 {
    right: 85%;
    top: 10px;
}

.model-title {
    right: 85%;
    top: 10px;
}

.slide-image {
    border-radius: 50%;
    position: relative;
    transform: translateX(50px);
    top: 25%;
    flex: 1 0 100%;
    scroll-snap-align: center;
    width: 130px;
    height: 130px;
    margin: 0 2rem 2rem;

}

.down-scale {
    transform: scaleX(.7);
    top: 40px;
}


.slider-nav {
display: flex;
column-gap: 3rem;
position: relative;
top: 8%;
left: 48%;
z-index: 1;
}

.slider-nav a {
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background-color: #fff;
    opacity: .75;
    transition: opacity ease 250ms;
}

.slider-nav-2 {
    display: flex;
    column-gap: 1.7rem;
    position: relative;
    margin-top: 10%;
    left: 5%;
    z-index: 1;
    }

.slider-nav-2 a {
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background-color: #fff;
    opacity: .75;
    transition: opacity ease 250ms;
    }

    .slider-nav-3 {
        display: flex;
        column-gap: 1.2rem;
        position: relative;
        margin-top: 10%;
        
        z-index: 1;
        }
    
    .slider-nav-3 a {
        width: 1rem;
        height: 1rem;
        border-radius: 50%;
        background-color: #fff;
        opacity: .75;
        transition: opacity ease 250ms;
        }
    


.slider-nav a:hover {
    opacity: 100%;
    transform: scale(1.2);
}
}


 /* Styles for large screens (desktop) */

 @media (min-width: 768px) {
    
    .name {
        position: absolute;
        font-size: 3em;
        z-index: 6;
        top: 10%;
        right: 16%;
        color: ghostwhite;
    }


    video {
        width: 100%;
        height: auto;
    }

    .full-images {
        position: fixed;
        top: 20%;
        transform: translateY(-50%);
        margin: auto;
        scale: .5;
        z-index: 2;
        object-fit: contain;
    }

    .light_switch {
        height: 20rem;
        width: 14rem;
        position: absolute;
        top: 6%;
        left: 30px;
        transform: translate(3.1rem, 2rem);
        background: none;
        border: none;
        font-size:0;
        z-index: 5;
    }

    #hide-button {
        position: fixed;
        display: none;
        background: none;
        width: 100%;
        height: 100%;
        
        z-index: 3;
    }
    
    #img-full-1 {
        position: absolute;
        visibility: hidden;
        transform: scale(3);
        top: 400px;
        left: 610px;
        z-index: 1;
    }
    
    #img-full-2 {
        position: absolute;
        visibility: hidden;
        scale: .9;
        top: 60px;
        left: -60px;
        z-index: 1;
    }
    
    #img-full-3 {
        position: absolute;
        visibility: hidden;
        top: 60px;
        left: 60px;
        z-index: 1;
    }
    
    #img-full-4 {
        position: absolute;
        visibility: hidden;
        top: 60px;
        left: 60px;
        z-index: 1;
    }
    
    #img-full-5 {
        position: absolute;
        visibility: hidden;
        top: 60px;
        left: 60px;
        z-index: 1;
    }
    
    #img-full-6 {
        position: absolute;
        visibility: hidden;
        top: 60px;
        left: 60px;
        z-index: 1;
    }
    
    #img-full-7 {
        position: absolute;
        visibility: hidden;
        top: 60px;
        left: 60px;
        z-index: 1;
    }
    
    #img-full-8 {
        position: absolute;
        visibility: hidden;
        top: 60px;
        left: 60px;
        z-index: 1;
    }
    
    .img-button {
        scale: .85;
    }
    
    #img-button-1 {
        position: absolute;
        background: none;
        border: none;
        cursor: pointer;
        z-index: 2;
        left: 350px;
        top: 0px;
        width: 200px;
        height: 200px;
    }
    
    #img-button-2 {
        position: absolute;
        background: none;
        border: none;
        cursor: pointer;
        z-index: 2;
        left: 680px;
        top: 0px;
        width: 200px;
        height: 200px;
    }
    
    #img-button-3 {
        position: absolute;
        background: none;
        border: none;
        cursor: pointer;
        z-index: 2;
        left: 30px;
        top: 10px;
        width: 200px;
        height: 200px;
    }
    
    #img-button-4 {
        position: absolute;
        background: none;
        border: none;
        cursor: pointer;
        z-index: 2;
        left: 430px;
        top: 0px;
        width: 200px;
        height: 200px;
    }
    
    #img-button-5 {
        position: absolute;
        background: none;
        border: none;
        cursor: pointer;
        z-index: 2;
        left: 770px;
        top: 0px;
        width: 200px;
        height: 200px;
    }
    
    #img-button-6 {
        position: absolute;
        background: none;
        border: none;
        cursor: pointer;
        z-index: 2;
        left: 1140px;
        top: 0px;
        width: 200px;
        height: 200px;
    }
    
    #img-button-7 {
        position: absolute;
        background: none;
        border: none;
        cursor: pointer;
        z-index: 2;
        left: 1470px;
        top: 0px;
        width: 200px;
        height: 200px;
    }
    
    #img-button-8 {
        position: absolute;
        background: none;
        border: none;
        cursor: pointer;
        z-index: 2;
        left: 1800px;
        top: 0px;
        width: 200px;
        height: 200px;
    }
    

    .container-holder {
        position: relative;
        display: flex;
        top: 70px;
        width: 100vw;
        height: auto;
        transform: scale(.9);
        justify-content: center;
    }
    
    .container {
        padding: 2rem;
    }
    
    .slider-wrapper {
        position: relative;
        max-width: 37rem;
        margin: 0 auto;
        
    }
    
    .slider {
        position: relative;
        display: flex;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        scroll-behavior: smooth;
        width: 200px;
        height: 200px;
        background: rgba(255, 255, 255, 0.2);
        border-radius: 20%;
    }
    
    .section_title {
        position: relative;
        justify-content: center;
        bottom: 60px;
        left: 50%;
    }
    
    .projects {
        position: relative;
        text-align: center;
        top:8%;
        
    }
    
    .models {
        position: relative;
        
        margin-top: 10%;
    }
    
    .title {
        position: relative;
        right: 50%;
        top: 78%;
    }
    
    .computer-title {
        right: 54%;
        top: 8px;
    }
    
    .beach  {
        right: 80%;
        top: 10px;
    }
    
    .bingo {
        right: 80%;
        top: 10px;
    }
    
    .portfolio {
        right: 50%;
        top: 10px;
    }
    
    .reel {
        right: 40%;
        top: 10px;
    }
    
    .sports {
        right: 45%;
        top: 10px;
    }
    
    .artschool {
        right: 55%;
        top: 10px;
    }
    
    .steps {
        right: 45%;
        top: 10px;
    }
    
    .intro {
        right: 95%;
        top: 10px;
    }
    
    .graph {
        right: 85%;
        top: 10px;
    }
    
    .pros {
        right: 85%;
        top: 10px;
    }
    
    .charts {
        right: 85%;
        top: 10px;
    }
    
    .charts-2 {
        right: 85%;
        top: 10px;
    }
    
    .model-title {
        right: 85%;
        top: 10px;
    }
    

    .slide-image {
        border-radius: 50%;
        position: relative;
        transform: translateX(50px);
        top: 18%;
        flex: 1 0 100%;
        scroll-snap-align: center;
        width: 150px;
        height: 150px;
        margin: 0 2rem 2rem;
    
    }
    
    .down-scale {
        transform: scaleX(.75);
        top: 40px;
    }
    
    .slider-nav {
        display: flex;
        column-gap: 3rem;
        position: relative;
        top: 8%;
        left: 18%;
        z-index: 1;
    }
    
    .slider-nav a {
        width: 1rem;
        height: 1rem;
        border-radius: 50%;
        background-color: #fff;
        opacity: .75;
        transition: opacity ease 250ms;
    }
    
    .slider-nav-2 {
        display: flex;
    column-gap: 1.7rem;
    position: relative;
    margin-top: 10%;
    left: 5%;
    z-index: 1;
        }
    
    .slider-nav-2 a {
        width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background-color: #fff;
    opacity: .75;
    transition: opacity ease 250ms;
        }
    
        .slider-nav-3 {
            display: flex;
        column-gap: 1.5rem;
        position: relative;
        margin-top: 10%;
        
        z-index: 1;
            }
        
        .slider-nav-3 a {
            width: 1rem;
            height: 1rem;
            border-radius: 50%;
            background-color: #fff;
            opacity: .75;
            transition: opacity ease 250ms;
            }
        
    
    
    .slider-nav a:hover {
        opacity: 100%;
    }
    }
    

    /* Styles for larger screens (4K) */

    @media (min-width: 1024px) {

        .name {
            position: absolute;
            font-size: 6em;
            z-index: 6;
            top: 8%;
            right: 3%;
            color: ghostwhite;
        }


        video {
            position: relative;
            object-fit: cover;
            
        }

        .full-images {
            position: fixed;
            top: 0%;
            right: 98%;
            transform: translateY(-50%);
            margin: auto;
            scale: .75;
            z-index: 2;
            object-fit: contain;
        }

        .lighthouse_container {
            position: relative;
            width: 100vw;
            left: 50px;
            scale: 1.1;
        }



        .light_switch {
            height: 20rem;
            width: 13rem;
            position: absolute;
            top: 5%;
            left: 160px;
            transform: translate(3.1rem, 2rem);
            background-color: none;
            border: none;
            font-size:0;
            z-index: 5;
        }
    
        .container-holder {
            position: absolute;
            display: flex;
            width: 100vw;
            height: auto;
            transform: scale(.8);
            margin-top: 4%;
            left: 30%;
            top: 340px;
        }
        
        .container {
            padding: 2rem;
        }
        
        .slider-wrapper {
            position: relative;
            max-width: 37rem;
            margin: 0 auto;
            left: 60px;
        }
        
        .slider {
            position: relative;
            display: flex;
            overflow-x: hidden;
            scroll-snap-type: x mandatory;
            scroll-behavior: smooth;
            width: 200px;
            height: 200px;
            background: rgba(255, 255, 255, 0.377);
        }

        .section_title {
            position: relative;
            text-align: center;
            top: 8%;
            left: 34%;
            font-size: 2.5em;
            color: antiquewhite;
        }
        
        .projects {
            position: relative;
            text-align: center;
            top:25%;
            left: 30%;
            color:bisque;
        }
        
        .models {
            position: relative;
            left: 30%;
            margin-top: -15px;
        }
        
        .title {
            position: relative;
            right: 50%;
            top: 78%;
        }
        
        .computer-title {
            right: 54%;
            top: 10px;
        }
        
        .beach  {
            right: 80%;
            top: 10px;
        }
        
        .bingo {
            right: 80%;
            top: 10px;
        }
        
        .portfolio {
            right: 49%;
            top: 10px;
        }
        
        .reel {
            right: 41%;
            top: 10px;
        }
        
        .sports {
            right: 46%;
            top: 10px;
        }
        
        .artschool {
            right: 55%;
            top: 10px;
        }
        
        .steps {
            right: 46%;
            top: 10px;
        }
        
        .intro {
            right: 95%;
            top: 10px;
        }
        
        .graph {
            right: 85%;
            top: 10px;
        }
        
        .pros {
            right: 92%;
            top: 10px;
        }
        
        .charts {
            right: 85%;
            top: 10px;
        }
        
        .charts-2 {
            right: 85%;
            top: 10px;
        }
        
        .model-title {
            right: 85%;
            top: 10px;
        }

        .slide-image {
            border-radius: 50%;
            position: relative;
            transform: translateX(50px);
            top: 20%;
            flex: 1 0 100%;
            scroll-snap-align: center;
            width: 150px;
            height: 150px;
            margin: 0 2rem 2rem;
        
        }
        
        .down-scale {
            transform: scaleX(.8);
            top: 40px;
        }
        
        .slider-nav {
        display: flex;
        column-gap: 2.5rem;
        position: relative;
        bottom: 10%;
        left: 47%;
        z-index: 1;
        }
        
        .slider-nav a {
            width: 1rem;
            height: 1rem;
            border-radius: 50%;
            background-color: #fff;
            opacity: .75;
            transition: opacity ease 250ms;
        }
        
        .slider-nav-2 {
            display: flex;
            column-gap: 1.8rem;
            position: absolute;
            bottom: -20%;
            left: 5px;
            z-index: 1;
            }
        
        .slider-nav-2 a {
            width: 1rem;
            height: 1rem;
            border-radius: 50%;
            background-color: #fff;
            opacity: .75;
            transition: opacity ease 250ms;
            }
        
            .slider-nav-3 {
                display: flex;
                column-gap: 1.2rem;
                position: absolute;
                bottom: -20%;
                left: 5px;
                z-index: 1;
                }
            
            .slider-nav-3 a {
                width: 1rem;
                height: 1rem;
                border-radius: 50%;
                background-color: #fff;
                opacity: .75;
                transition: opacity ease 250ms;
                }
            
        
        
        .slider-nav a:hover {
            opacity: 100%;
        }
        }
